.App-home {
          width: 100%;
          height: 100%;
}










.App-home .content {
          width: 100%;
          height: 100%;
          background-color: none;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          z-index: 1;
         


}

.App-home .content .content-desc {
          width: auto;
          flex:1;
          min-height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          color: white;
          transition: 0.3s;
}

.App-home .content .content-desc h1{
          color:rgb(37, 88, 182);
          font-weight: 700;
          
         
          
          font-size: 80px;
          text-align: center;
          width: fit-content;

}
.App-home .content .content-desc p{
          font-size: 15px;
          color:rgb(180, 178, 178);
}

.App-home .content .content-desc a{
          text-decoration: none;
          color:rgb(207, 205, 205);
          font-weight: 400;
          background-color: rgb(23, 69, 153);
          border-radius: 5px;
          padding: 10px;
          margin: 30px 0px;
          font-size: 20px;
          text-align: center;
          display: flex;
          align-items: center;
          transition: 0.3s;
          width: fit-content;

}
.App-home .content .content-desc a:hover{
          background-color: rgb(52, 111, 219);
}
.App-home .content .content-desc h3 {
          font-size: 40px;
          font-weight: 400;
          text-align: center;
          margin: 10px 0px;
          color:rgb(176, 178, 180);



}

.App-home .content .form-section{
          width: 30%;
          margin: 0px 10%;
          display: flex;
          flex-direction: column;
}

.App-home .content .form-section h3{
          color:rgb(134, 131, 131);
          font-weight: 400;
          text-align: center;
          margin:10px 0px;
          font-size: 30px;
}
.App-home .content .form-section .form {
          background-color: black;
          display: flex;
          flex-direction: column;
          padding: 30px 10px;
          width: 100%;
          margin: 0px auto;
          opacity: 0.8;

          border-radius: 10px;
          position: relative;
          background-position: center;
          box-shadow: rgba(24, 148, 231, 0.35) 0px 5px 15px;
         


}

.App-home .content .form-section .form span {
          display: flex;
          padding: 10px;
          color: white;
          justify-content: space-between;
          font-size: 20px;
          margin: 10px 0px;

}
.App-home .content .form-section .form span .span-formcontrol{
          border-bottom: 1px solid grey;
}

.App-home .content .form-section .form span.button {
          width: 100%;
          display: flex;
          justify-content: center;

}

.App-home .content .form-section .form span.button button {
          padding: 10px;
          background-color: rgb(23, 69, 153);;
          color: black;

          border: none;
          border-radius: 5px;
          font-size: 15px;
          transition: 0.3s;
}

.App-home .content .form-section .form span.button button:hover {
          background-color: rgb(52, 111, 219);
          color: white;
          
}

.App-home .content .form-section .form span input {
          width: 60%;
          border: none;
          outline: none;
          background-color: black;
          border-bottom-style: solid;
          border-bottom-width: 2px;
          border-bottom-color: white;
          display: flex;
          padding: 10px;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          color: grey
}

.App-home .content .form-section .form span input:hover {
          background-color: rgb(22, 21, 21);
          color: white
}

.App-home .content .form-section .form span input::placeholder {
          color: gray;
}
.App-home .content .tasks{
          width: 40%;
          height: 90%;
          border-radius: 10px;
          background-color: rgb(6, 39, 70);
          margin: auto 0px;
          overflow-y: scroll;
          
}
.App-home .content .tasks-msg{
          font-size: 15px;
          color:rgb(187, 185, 185);
          font-weight: 500;
          text-align: center;
          width: 100%;
          padding: 10px;
}
.App-home .content .tasks::-webkit-scrollbar{
          display: none;
}

div.track-tasks{
          width: 100%;
          height:auto;
          margin: 30px auto;
          display:flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
        
}
div.track-tasks span{
          display:flex;
          flex-direction: column;
          align-items: center;
          
}
div.track-tasks span i{
          color: rgb(9, 51, 90);
          font-size: 50px;
          margin:10px 0px;
}
div.track-tasks span p{
          color:grey;
          font-size: 30px;
          margin:10px 0px;
}
div.track-tasks span p.count{
          color:white;
          font-size: 30px;
          margin:10px 0px;
}















#error-addnote{
          padding:10px;
          position: absolute;
          width: 100%;
          left:0;
          bottom: 100%;
          display:flex;
          justify-content: space-between;
          border-radius: 5px;
          background-color: rgb(211, 205, 205);;
          color:black;
          z-index: 25;
          font-size: 15px;
          opacity: 1!important;
}
#error-addnote i{
          font-size: 20px;
}
#error-addnote.none{
          display: none;
}

@media (max-width:700px) {
          .App-home .content .form-section{
                    width: 90%;
                    margin: 10% 0px;
                    height: 60%;
          }
          .App-home .content{
                    
                    flex-direction: column;
          ;
          }
          .App-home .content .content-desc {
                    width:100%;
                    height:20%!important;
                    justify-content: center;
                    align-items: center;
                    margin:10px 0%;
          }
          .App-home .content .content-desc h1{
                    font-size: 25px!important;
          }
          .App-home .content .content-desc h3{
                    font-size: 15px;
                    font-weight: 500;
          }
          .App-home .content .content-desc p{
                    font-size: 10px!important;
                    color:gray;
                    text-align: justify;
                    padding:10px 30px;
          }
          .App-home .content .form-section .form{
                    width:80%;
                    padding:10px 10px;
                    margin:0px auto;
          }
         
          
          .App-home .content .form-section .form span{
                    padding:5px;
                    font-size: 15px;
          }
          .App-home .content .form-section .form span.button button{
                    padding:10px;
                    font-size: 10px;
          }
          .App-home .content .form-section h3{
                    font-size: 15px;
          }


          .App-home .content .content-desc a{
                 
                    font-size: 15px;
                    margin:10px 0px;
                   
          
          }
          .App-home .content .tasks{
                    width: 90%;
                    height:auto;

          }
          div.track-tasks span i{
          
                    font-size: 30px;
          
          }
          div.track-tasks span p{
          
                    font-size: 20px;
                    
          }
          div.track-tasks span p.count{
                    
                    font-size: 20px;
                    
          }




          
          #error-addnote{
                    font-size: 10px;
          }
          #error-addnote i{
                    font-size: 15px;
          }
          .App-home .content .content-desc a{
                    
                    font-size: 15px!important;
                    
          
          }

          
}
