.main {
          width: 100%;
          height: 100vh;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          background: none;

}

.main .form {
          width: 50%;
          padding: 10px;
          background-color: black;
          opacity: 0.8;
          display: flex;
          flex-direction: column;


}

.main .form span {
          width: 100%;
          margin: 10px 0px;
          display: flex;
          justify-content: space-between;
          font-size: 20px;
          color: white;
          padding: 10px;


}

.main .form span.signuplink {
          font-size: 15px;
          color: grey;

}

.main .form span.signuplink a {
          text-decoration: none;
          color: rgb(23, 69, 153);;
          display: inline;

}

.main .form span.signuplink a:hover {
          font-weight: 600;
}

.main .form span input {
          width: 60%;
          outline: none;
          border: none;
          background-color: black;
          border-bottom: 2px solid white;
          padding: 10px;
          color: grey;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
}

.main .form span input:hover {
          background-color: rgb(31, 29, 29);
          color: white;


}

.main .form span input::placeholder {
          color: grey;
          animation: 0.4s;
}

.main .form span.button {
          width: 100%;
          justify-content: center;

}

.main .form span.button button {
          padding: 10px;
          font-size: 15px;
          background-color: rgb(23, 69, 153);
          border: none;
          border-radius: 5px;
          color: black;
          transition: 0.2s;
          font-weight: 400;
}

.main .form span.button button:hover {


          background-color: rgb(52, 111, 219);

          color: white;
          
}

.main .form span a {
          text-decoration: none;
          color: rgb(23, 69, 153);
          font-weight: 500;
}

.main .form span.button {
          justify-content: center;
          font-size: 10px;

}
#error-login{
          padding:10px;
          position: absolute;
          width: 100%;
          left:0;
          bottom: 100%;
          display:flex;
          justify-content: space-between;
          border-radius: 5px;
          background-color: rgb(211, 205, 205);
          color:black;
          z-index: 15;
          font-size: 15px;
          opacity: 1!important;
          
}
#error-login.none{
          display: none;
}
@media (max-width:600px) {
          #error-login{
                    font-size: 10px;
          }
          #error-login i{
                    font-size: 15px;
          }

}